.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 99;
    padding: 10px 40px;
    transition: all 0.6s ease-in;
}
.nav-logo{
    width: 80px;
    object-fit: contain;
}
.nav-avatar{
    width: 30px;
    object-fit: contain;
}
.nav-black{
    background-color: black;
}